* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(9, 121, 105);
}

nav {
  display: flex;
  gap: 50px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.header-logo {
  font-size: 16px;
  position: absolute;
  left: 50px;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-btn:visited {
  color: none;
}

.product-btn-text {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.credentials-header {
  position: absolute;
  right: 50px;
  display: flex;
  gap: 40px;
}

#username {
  display: flex;
  gap: 10px;
  align-items: center;
}

#add-product-btn,
#update-product-btn,
#submit-update-product-btn,
#submit-add-product-btn,
#signin-btn {
  color: rgb(0, 0, 0);
  border: rgb(0, 0, 0) 1px solid;
  margin: 10px;
}

#add-product-btn:hover,
#update-product-btn:hover,
#submit-update-product-btn:hover,
#submit-add-product-btn:hover,
#signin-btn:hover {
  background-color: rgb(9, 121, 105, 0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#delete-product-btn {
  color: red;
  border: red 1px solid;
  margin: 10px;
}

#delete-product-btn:hover {
  background-color: rgba(255, 3, 3, 0.1);
  box-shadow: rgba(241, 11, 11, 0.35) 0px 5px 15px;
}

.filtering-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(9, 121, 105) !important;
  color: rgb(9, 121, 105);
}

.products-container {
  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.single-product {
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 5px;
  padding: 10px 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 500px;
  transition: 0.2s ease-in-out;
}

.single-product:hover {
  background-color: rgb(9, 121, 105, 0.1);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.product-description {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  color: rgb(9, 121, 105);
}

.product-details {
  padding-top: 30px;
  text-align: center;
}

.single-product h2 {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-product-description {
  margin: 30px 300px;
  font-size: 18px;
}

#single-product-image {
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#single-product-image:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.2s ease-in-out;
}

.single-product-price {
  margin-bottom: 50px;
  color: rgb(9, 121, 105);
}

.product-form {
  margin-top: 50px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.product-form label {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.product-form input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
}

#productName {
  padding: 5px;
}

#productDescription {
  font-size: 18px;
  height: 200px;
  width: 300px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}

#productImage {
  border: none;
}

#productImage::file-selector-button {
  font-weight: bold;
  font-size: 16px;
  color: rgb(9, 121, 105);
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

#productPrice {
  padding: 5px;
}

.form-error {
  font-size: 18px;
  color: red;
  display: block;
  text-align: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}

.login-form h3 {
  font-size: 32px;
}

.login-form label {
  padding-top: 30px;
}

.login-form input {
  height: 30px;
  width: 300px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
}

.about-section {
  margin-top: 50px;
  text-align: center;
}

.about-section h1 {
  font-size: 64px;
  margin-top: 20px;
}

.about-section-image {
  width: 200px;
}

.contact-info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
}

.contact-info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 35%;
}

.contact-info a {
  text-decoration: none;
  color: black;
}

.social-info {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: black;
}

.social-info a:visited {
  color: black;
}

.copyright {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
  font-weight: bold;
}